@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Gerenciador de emprestimos de Livros</h1>
    <p>feito por <a href="https://leocaldiodev.github.io">visite o meu site</a>.</p>
</div>
